{% extends "base.html" %}

{% block main %}
<div class="row">
	<div class="col-md-3">
		<div class="list-group">
			<a href="/admin" class="list-group-item{% if request.path == "/admin" %} active{% endif %}">Admin Home</a>
			<a href="/admin/settings" class="list-group-item{% if request.path.startswith("/admin/settings") %} active{% endif %}">Intranet Settings</a>
			<a href="/admin/schedule" class="list-group-item{% if request.path.startswith("/admin/schedule") %} active{% endif %}">Event Schedule</a>
			{% if setting("tournaments") %}
			<a href="/admin/tournaments" class="list-group-item{% if request.path.startswith("/admin/tournaments") %} active{% endif %}">Tournaments</a>
			{% endif %}
			<a href="/admin/downloads" class="list-group-item{% if request.path.startswith("/admin/downloads") %} active{% endif %}">Downloads</a>
			<a href="/admin/rvb" class="list-group-item{% if request.path.startswith("/admin/rvb") %} active{% endif %}">
				Red vs Blue
				{% if setting("RvB") %}
					<span class="label label-success pull-right">Enabled</span>
				{% else %}
					<span class="label label-danger pull-right">Disabled</span>
				{% endif %}
				</span>
			</a>
		</div>
	</div>
	<div class="col-md-9">
		{% block content %}
		{% endblock %}
	</div>
</div>
{% endblock %}