{% extends "admin/base.html" %}
{% block title %}Red Vs Blue{% endblock %}

{% block content %}
<h1>Red vs Blue Settings</h1>
<div class="row">
	<div class="well clearfix">
		{% if setting("RvB") %}
			<a href="/admin/rvb/toggle" class="btn btn-block btn-success">Red vs Blue: Enabled</a>
		{% else %}
			<a href="/admin/rvb/toggle" class="btn btn-block btn-danger">Red vs Blue: Disabled</a>
		{% endif %}
	</div>
</div>
<form method="POST" action>
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-danger">
				<div class="panel-heading"><h3 class="panel-title">Red Team</h3></div>
				<div class="panel-body" style="text-align: center;">
					Current Score: {{ setting('RvB-red-score') }}
				</div>
				<table class="table">
					
				</table>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-info">
				<div class="panel-heading"><h3 class="panel-title">Blue Team</h3></div>
				<div class="panel-body" style="text-align: center;">
					Current Score: {{ setting('RvB-blue-score') }}
				</div>
				<table class="table">
					
				</table>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="well clearfix">
			<button class="btn btn-primary btn-block" type="submit">Update</button>
		</div>
	</div>
</form>
{% endblock %}