{% extends "base.html" %}
{% block title %}Downloads{% endblock %}
{% block main %}
	<div class="col-md-9">
		<h3>Downloads</h3>
		<div class="list-group">
			{% for download in downloads %}
			<a href="{{ setting("downloads-base-url") }}/{{ download.url }}" class="list-group-item">
				<h4 class="list-group-item-heading">{{ download.title }}</h4>
				<p class="list-group-item-text">{{ download.description }}</p>
				<p class="list-group-item-text">{{ download.get_tags()|join(", ") }}</p>
			</a>
			{% endfor %}
		</div>
	</div>
	<div class="col-md-3">
		<div class="list-group">
			<a href="#" class="list-group-item disabled"><h4 class="list-group-item-heading">Tags</h4></a>
			{% for tag in tags %}
			<a href="/downloads/tagged/{{ tag.name }}" class="list-group-item">{{ tag.name }}</a>
			{% endfor %}
		</div>
	</div>
{% endblock %}
